.App {
  font-family: sans-serif;
  text-align: center;
}
body {
  margin: 0px;
}
.card {
  margin: 2vh 10vh;
  padding: 1px;
  box-sizing: " border-box";
  border-radius: 2vh;
  box-shadow: 0 2px 10px rgb(2, 48, 129);
  background-color: rgb(220, 227, 240);
}
.btnEl {
  height: 2rem;
  font-size: 1rem;
  margin: 0.5rem;
  border-radius: 1vh;
  background-color: #b9df88;
  color: rgb(93, 7, 7);
}
.image {
  width: 115px;
  padding-top: 1vh;
  height: 150px;
}

.h2 {
  width: 20vh;
  padding: 10px;
}
.h3 {
  width: 20vh;
  padding: 10px;
}
